body{
    margin: 0%;
    background-image: url('56498643_3195414830483884_259149281439514624_n.jpg');
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
#container{
    background-color: rgba(255, 255, 255, 0.781);
    margin-left: 450px;
    margin-top: 150px;
    width: 420px;
    height: 400px;
    border-radius: 30px;
}
input[type=text]{
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;

}
input[type=password]{
    margin-left: 90px;
}
a{
    margin-left: 100px;
    font-size: 13pt;
    color: navy;
    display: block;
    padding-top: 10px;
}
input[type=button]{
    margin-left: 130px;
    width: 100px;
    height: 30px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
}
input{
    height: 25px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#icon{
    width: 300px;
    object-fit: cover;
    margin-left: 50px;
}
label{
    color: navy;
    font-size: 14pt;
}
